* {
  box-sizing: border-box;
}
body {
  margin: 10px auto;
}
header {
  display: flex;
  justify-content: space-around;
}
body {
  margin: 0 50px auto;
  background-color: rgba(247, 247, 225, 0.753);
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
  display: flex;
  list-style-type: none;
}