*{
  box-sizing: border-box;
  max-width: 100%;
}
body{
  margin: 0 10px;
  font-family:DM sans;
  font-size:18px;
  color: #111010;
  background-color: rgba(247, 247, 225, 0.753);
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  padding: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.nav-search {
  border: none;
  background-color: rgba(247, 247, 225, 0.753);
  font-weight: 400;
  font-size: 16px;
}
.container { /* задать ширину и выровнять по середине */
  max-width: 1378px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header {
  background-image: url(./icon/girl.png);
  margin: 0 50px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 780px;
  text-transform: uppercase;
  color: white;
  padding: 35px;
  font-size: 50px;
}
.header-button {
  background-color: rgb(247, 185, 72);
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
}
.lorem {
    font-size: 70px;
    margin-left: -150px;
    max-width: 1000px;
}
.our {
  margin-left: 50px;
}
.see {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: grey;
  font-size: 16px;
  margin-right: 200px;
  margin-top: 15px;
}
.hover:hover {
border: blue;
}
.plates {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  background-image: url(./img/Frame.png);
}
.card-content {
  height: 142px;
  background: #CAB5EB;
  width: 435px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}
.list {
  text-transform: uppercase;
  margin-top: 0;
}
.list ul {
  list-style-type: none;
}
.list ul li a {
  text-decoration: none;
  color: black;
 
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.order {
  background-color: rgb(240, 154, 42);
  border-radius: 40%;
  padding: 5px 10px;
  margin-left: 40px;
}
.star {
  text-align: center;
  background-color: rgb(248, 243, 235);
}
.orange {
  background-color: rgb(240, 198, 119);
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
h1 {
  text-align: center;
}
.latest {
  border: 1px solid gainsboro;
}
.collection {
 background-image: url(./icon/semicircle.png);
 margin-top: 20px;
 background-repeat: no-repeat;
 height: 200px;
 text-align: center;
 
}
.circle{
  margin-left: 1500px;
  margin-top: -50px;
 background:#F1EBE4;;
 border: 1px solid #000000;
 height: 50px;
 border-radius: 128px;
 height: 130px;
 width: 130px;
}
.semicircle {
  background-color: rgb(235, 206, 206);
  border: 1px solid black;
  margin-top: 40px;
  height: 466px;
  text-transform: uppercase;
}

.snowflake{
 background-color: #CAB5EB;
}
.keep-in-touch {
  text-align: center;
}
.enter {
  background-color: white;
  padding: 5px 30px;
  border-radius: 25px;
}
.send {
  background-color: rgb(241, 175, 51);
  border-radius: 50%;
  margin-left: -20px;
  padding: 15px;
}
.behind {
  display: flex;
  justify-content: space-between;
}
.photo {

  display: flex;
  justify-content: space-around;
}
.first {
  margin-left: 10px;
  margin-right: 20px;
}
.second {
  margin-bottom: 50px;
  margin-right: 20px;
}
.third {
  margin-right: 20px;
}
.fourth {
  margin-bottom: 50px;
  margin-right: 20px;
}
footer {
  background-color: #CAB5EB;
  border-radius: 0px;
}
footer ul li a {
  text-decoration: none;
  color: black;
  font-size: 10px;
}
.made {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
